**/vendor/
**/node_modules/

**/.env

**/db_data_api/
**/mysql_data/
**/*.tmp
**/#innodb_redo/

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars

*.tfplan

k8s/mws-secret.yaml
k8s/secrets.yaml
k8s/*-secret.yaml
k8s/mws-configmap.yaml

.idea/
.vscode/
.DS_Store
